<header class="header">
  <div class="header-newsline container clearfix">

    <%- include('currency') %>

    <div class="header-newsline_free">
      <span class="header-newsline_free-tel"
        >Phone/WhatsApp No.(626) 782-4321</span
      >
      <span class="header-newsline_free-shipping">FREE SHIPPING</span>
    </div>

    <%- include('languages') %>

    <a
      class="header-logo"
      href="/"
      title="Unice Human Hair-A Natural Extension of U"
      alt="Unice Human Hair-A Natural Extension of U"
    >
      <img
        data-retina="true"
        src="/images/unice-logo.png"
        alt="Unice Human Hair-A Natural Extension of U"
      />
    </a>

    <div class="header-newsline_right clearfix">
      <div class="header-newsline_img-link spirit-bg"></div>
      <a
        class="header-newsline_help a-hover"
        href="/faq"
        rel="nofollow"
        target="_blank"
        >Help</a
      >

      <%- include('account') %>

      <%- include('tracking') %>
    </div>
  </div>

  <%- include('navigation') %>

  <!-- <a
    class="header-logo--left img-block"
    href="https://www.unice.com/"
    title="Unice Human Hair-A Natural Extension of U"
    alt="Unice Human Hair-A Natural Extension of U"
  >
    <img
      data-retina="true"
      src="/images/unice-logo.png"
      alt="Unice Human Hair-A Natural Extension of U"
    />
  </a> -->
</header>