<div class="product-detail_right">
  <h1 class="product-detail_title">
     <%= product.name %><span class="product-detail_heart iconfont icon-heart1" product_id = "1935"> </span>
  </h1>
  <div class="product-detail_rating">
     <div class="prolist_ratings-box">
        <div class="rating-star iconfont icon-star">
           <div class="rating-starNum iconfont icon-star" style="width: 95%;"></div>
        </div>
        <a href="JavaScript:;"  class="prolist_rating-reviews a-hover">14 Review(s)</a>
     </div>
     <span class="separator"></span>
     <span></span>
     <a class="product-detail_share iconfont icon-fenxiang" href="JavaScript:;" id="product-share">
     <span>Share</span>
     </a>
  </div>
  <p class="product-detail_des">
     <% product.description %>
  </p>
  <div class="clearfix">
     <ul class='preferentInfo'>
        <p></p>
        <ul>
           <li class="preferentInfo-item">
              <span class="font-light">
              <span style="color: #000000;">Buy 1 Get 1</span>
              <span style="color: #ff0000;">40% OFF</span>,
              <a href="https://www.unice.com/top-picks.html"><strong><span style="color: #000000;">check other products</span></strong></a>
              </span>
           </li>
        </ul>
     </ul>
  </div>
  <form id="product-detail_form" action="" method="POST" autocomplete="off">
     <input name="form_key" type="hidden" value="<esi:include src='http://www.unice.com/turpentine/esi/getFormKey/ttl/5184000/method/esi/scope/global/access/private/' />" />
     <input type="hidden" name="product" value="1935" />
     <div class="addCart_form-scroll">
        <% if (product.color?.length) { %>
        <div class="proDetail-option_title a-bold">
           Color<i class="required">*</i>
        </div>
        <div class="proDetail-option_item inline-box color-card" data-required="true">
           <% product.color.forEach(({ value }) => { %>
           <label class="proDetail-option_label" for="option_<%= value %>"  >
           <%= value %><input class="proDetail-option_input" name="options[<%= value %>]" id="option_<%= value %>" type="radio" value="<%= value %>" />
           </label>
           <% }) %>
        </div>
        <% } %>
        <% if (product.size?.length) { %>
        <div class="proDetail-option_title a-bold">
           Size<i class="required">*</i>
        </div>
        <div class="proDetail-option_item inline-box" data-required="true">
           <% product.size.forEach(({ value }) => { %>
           <label class="proDetail-option_label" for="option_<%= value %>"  >
           <%= value %><input class="proDetail-option_input" name="options[<%= value %>]" id="option_<%= value %>" type="radio" value="<%= value %>" />
           </label>
           <% }) %>
        </div>
        <% } %>
        <% if (product.density?.length) { %>
        <div class="proDetail-option_title a-bold">
           Density<i class="required">*</i>
        </div>
        <div class="proDetail-option_item inline-box" data-required="true">
           <% product.density.forEach(({ value }) => { %>
           <label class="proDetail-option_label" for="option_<%= value %>"  >
           <%= value %><input class="proDetail-option_input" name="options[<%= value %>]" id="option_<%= value %>" type="radio" value="<%= value %>" />
           </label>
           <% }) %>
        </div>
        <% } %>
        <% if (product.hairPart?.length) { %>
        <div class="proDetail-option_title a-bold">
           Hair Part<i class="required">*</i>
        </div>
        <div class="proDetail-option_item inline-box" data-required="true">
           <% product.hairPart.forEach(({ value }) => { %>
           <label class="proDetail-option_label" for="option_<%= value %>"  >
           <%= value %><input class="proDetail-option_input" name="options[<%= value %>]" id="option_<%= value %>" type="radio" value="<%= value %>" />
           </label>
           <% }) %>
        </div>
        <% } %>
        <% if (product.length?.length) { %>
        <div class="proDetail-option_title a-bold">
           Hair Weft Length/inch<i class="required">*</i>
           <a class="proDetail-option_guide iconfont icon-size-guide-" href="JavaScript:;" >
           <span>Size Guide</span>
           </a>
        </div>
        <div class="proDetail-option_item inline-box" data-required="true">
           <% product.length.forEach(({ value }) => { %>
           <label class="proDetail-option_label" for="option_<%= value %>"  >
           <%= value %><input class="proDetail-option_input" name="options[<%= value %>]" id="option_<%= value %>" type="radio" value="<%= value %>" />
           </label>
           <% }) %>
        </div>
        <% } %>
        <div class="total-price inline-box">
           <span class="total-price_label">Total Price:</span>
           <div class="price-box">
              <span class="price-box_price" id="product-price-1935">
              <span class="price">$<%= product.price %></span>
              </span>
              <span class="price-box_unit">/ 1pcs</span>
           </div>
        </div>
        <!-- <div class="block customerLink">
           <input type="hidden" value="" name="customLink_product" id="customLink_product">
           <div class="customerLink-title">
             <strong class="customerLink-title_info">We Know You May Need:</strong>
             <button class="customerLink-title_btn" type="button">view more</button>
           </div> -->
        <!-- <div class="customerLink-container customerLink-con customerLink-con--first" data-currency_symbol="$"> -->
        <!-- <div class=" customerLink-item " data-id="3331" data-oldprice="$15.00" data-price="$15.00">
           <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3331">
           <label class="customerLink-item_checkbox" for="productId-3331"></label>
           <div class="customerLink-product">
             <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/b/i/birthday_1.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
             <div class="customerLink-product_info">
               <p class="customerLink-product_name">UNice Exclusive  Birthday Gift Package & Free Hair Dry Towel & Eyelashes</p>
               <div class="price-box">
                 <p class="customerLink-special-price">
                   <span class="price" id="old-price-3331"><span class="price">$15.00</span></span>
                 </p>
               </div>
               <div class="customerLink-product_qty">
                 <button type="button" class="customerLink-product_less">-</button>
                 <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                 <button type="button" class="customerLink-product_inc">+</button>
               </div>
             </div>
           </div>
           </div> -->
        <!-- <div class=" customerLink-item " data-id="3303" data-oldprice="$18.80" data-price="$18.80">
           <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3303">
           <label class="customerLink-item_checkbox" for="productId-3303"></label>
           <div class="customerLink-product">
             <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/6/4/640a2066.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
             <div class="customerLink-product_info">
                 <p class="customerLink-product_name">UNice Women's Wedding Bridal Austrian Crystal Teardrop Cluster Statement Necklace Dangle Earrings Jewelry Set</p>
                                                                     <div class="price-box">
                         <p class="customerLink-special-price">
                             <span class="price" id="old-price-3303"><span class="price">$18.80</span></span>
                         </p>
                     </div>
                                         <div class="customerLink-product_qty">
                     <button type="button" class="customerLink-product_less">-</button>
                     <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                     <button type="button" class="customerLink-product_inc">+</button>
                 </div>
             </div>
           </div>
           </div>
             </div> -->
        <!-- </div> -->
        <!-- <div class="window-cover_con window-customerLink" id="window-customerLink">
           <div class="scroll-bar window-customerLink_con customerLink-container customerLink-con customerLink-con--second" data-currency_symbol="$">
             <div class=" customerLink-item " data-id="3331" data-oldprice="$15.00" data-price="$15.00">
               <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3331">
               <label class="customerLink-item_checkbox" for="productId-3331"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/b/i/birthday_1.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Exclusive  Birthday Gift Package & Free Hair Dry Towel & Eyelashes</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3331"><span class="price">$15.00</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="3303" data-oldprice="$18.80" data-price="$18.80">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3303">
                 <label class="customerLink-item_checkbox" for="productId-3303"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/6/4/640a2066.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Women's Wedding Bridal Austrian Crystal Teardrop Cluster Statement Necklace Dangle Earrings Jewelry Set</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3303"><span class="price">$18.80</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="2496" data-oldprice="$11.69" data-price="$11.69">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-2496">
                 <label class="customerLink-item_checkbox" for="productId-2496"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/p/i/pink-1.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Adjustable Satin Pink Color Night Cap Sleeping Hat For Making Wigs Nightcap For Women</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-2496"><span class="price">$11.69</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="3325" data-oldprice="$11.69" data-price="$11.69">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3325">
                 <label class="customerLink-item_checkbox" for="productId-3325"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/b/l/blue-1_2.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Adjustable Satin Dark Blue Night Cap Sleeping Hat For Making Wigs Nightcap For Women</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3325"><span class="price">$11.69</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="3324" data-oldprice="$11.69" data-price="$11.69">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3324">
                 <label class="customerLink-item_checkbox" for="productId-3324"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/c/o/coffee-1.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Adjustable Satin Coffe Color Night Cap Sleeping Hat For Making Wigs Nightcap For Women</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3324"><span class="price">$11.69</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="3323" data-oldprice="$11.69" data-price="$11.69">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3323">
                 <label class="customerLink-item_checkbox" for="productId-3323"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/4/_/4_63_1.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Adjustable Satin Black Color Night Cap Sleeping Hat For Making Wigs Nightcap For Women</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3323"><span class="price">$11.69</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="3326" data-oldprice="$11.69" data-price="$11.69">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3326">
                 <label class="customerLink-item_checkbox" for="productId-3326"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/c/o/counry-1.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Adjustable Satin County Color Night Cap Sleeping Hat For Making Wigs Nightcap For Women</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3326"><span class="price">$11.69</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="3329" data-oldprice="$11.90" data-price="$11.90">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3329">
                 <label class="customerLink-item_checkbox" for="productId-3329"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/1/_/1_74_1.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">Unice Microfiber Hair Towel Wrap Purple and Orange Color for Women 1 Pack 2 Pcs Super Absorbent Quick Dry Hair Turban for Drying Long And Thick Hair </p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3329"><span class="price">$11.90</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="3330" data-oldprice="$11.90" data-price="$11.90">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3330">
                 <label class="customerLink-item_checkbox" for="productId-3330"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/h/a/hair-towel-wrap6_1_4.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">Unice Microfiber Hair Towel Wrap Purple and Pink Color for Women 1 Pack 2 Pcs Super Absorbent Quick Dry Hair Turban for Drying Long And Thick Hair</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3330"><span class="price">$11.90</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="2887" data-oldprice="$11.90" data-price="$11.90">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-2887">
                 <label class="customerLink-item_checkbox" for="productId-2887"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/6/4/640a0392.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">Unice Microfiber Hair Towel Wrap for Women Blue and Pink Color 1 Pack 2 Pcs Super Absorbent Quick Dry Hair Turban for Drying Long And Thick Hair </p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-2887"><span class="price">$11.90</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="3098" data-oldprice="$14.99" data-price="$14.99">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3098">
                 <label class="customerLink-item_checkbox" for="productId-3098"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/l/o/lotion-4.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Hair Hydra Lotion Miracle Rescue Moisture Mix-in Treatment No Clean Type</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3098"><span class="price">$14.99</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="2495" data-oldprice="$9.99" data-price="$9.99">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-2495">
                 <label class="customerLink-item_checkbox" for="productId-2495"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/e/y/eyelash.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice 3D Mink Fur False Eyelashes Fake Lashes Women's Makeup Natural Soft Individual Long Hand-made 1 Pair Package</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-2495"><span class="price">$9.99</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="2703" data-oldprice="$7.17" data-price="$7.17">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-2703">
                 <label class="customerLink-item_checkbox" for="productId-2703"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/2/2/22_6_10.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Edge Wrap for Black Hair-Satin Edge Laying Scarf for Lace Frontal Wigs-Wigrip- Soft Women's Satin Headband for Makeup, Facial,Sport,Yoga (Black 1 piece)</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-2703"><span class="price">$7.17</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="3327" data-oldprice="$8.62" data-price="$8.62">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3327">
                 <label class="customerLink-item_checkbox" for="productId-3327"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/2/2/22_6_7_2.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Part Lace Wig Grip Bands Flexible Wig Comfort Beige Color Bands Velvet Non Slip Headband to Keep Wig Secured and Prevent Headaches</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3327"><span class="price">$8.62</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="3328" data-oldprice="$8.62" data-price="$8.62">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-3328">
                 <label class="customerLink-item_checkbox" for="productId-3328"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/2/3/23_7_5_3.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Part Lace Wig Grip Bands Flexible Wig Comfort Brown Color Bands Velvet Non Slip Headband to Keep Wig Secured and Prevent Headaches</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-3328"><span class="price">$8.62</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="2500" data-oldprice="$8.62" data-price="$8.62">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-2500">
                 <label class="customerLink-item_checkbox" for="productId-2500"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/2/1/21_10_7.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Part Lace Wig Grip Bands Flexible Wig Comfort Bands Velvet Non Slip Headband to Keep Wig Secured and Prevent Headaches</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-2500"><span class="price">$8.62</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                                             <div class=" customerLink-item " data-id="2501" data-oldprice="$8.46" data-price="$8.46">
                 <input class="customerLink-item_checkboxVal" type="checkbox" name="customerLink-product" id="productId-2501">
                 <label class="customerLink-item_checkbox" for="productId-2501"></label>
                 <div class="customerLink-product">
                     <img class="customerLink-product_img lozad" data-src="https://xcdn.unice.com/media/catalog/product/cache/1/small_image/800x800/9df78eab33525d08d6e5fb8d27136e95/2/1/21_10_8.jpg" src="https://www.unice.com/skin/frontend/longqi/pc/images/lozad/lozad-productMiddle.jpg">
                     <div class="customerLink-product_info">
                         <p class="customerLink-product_name">UNice Toupee Tape Strips Double Sided Water-Proof Tapes for Toupees and Hairpieces Hair Extensions Lace Front Support Wigs</p>
                                                                             <div class="price-box">
                                 <p class="customerLink-special-price">
                                     <span class="price" id="old-price-2501"><span class="price">$8.46</span></span>
                                 </p>
                             </div>
                                                 <div class="customerLink-product_qty">
                             <button type="button" class="customerLink-product_less">-</button>
                             <input class="customerLink-product_input" type="text" value="1" defaultvalue="1" maxlength="4" oninput="this.value=this.value.replace(/[^0-9.]+/,'');">
                             <button type="button" class="customerLink-product_inc">+</button>
                         </div>
                     </div>
                 </div>
             </div>
                     </div>
           
           <button type="button" class="window-customerLink_confirm">confirm</button>
           
           <button type="button" class="window-cover_con-close home-draw_close"></button>
           
           </div> -->
        <!-- <div class="window-cover_con window-customerLinkDetail" id="window-customerLinkDetail">
           <h3 class="customerLinkDetail-back"><i class="customerLinkDetail-back_icon iconfont icon-xiangzuo"></i> Back</h3>
           <div class="customerLinkDetail-box clearfix">
           
           </div>
           <button type="button" class="window-cover_con-close home-draw_close"></button>
           
           </div> -->
        <!-- <div
           class="productdetail_paypal_message"
           data-pp-message
           data-pp-style-layout="text"
           data-pp-style-logo-type="inline"
           data-pp-style-text-color="black"
           data-pp-style-text-size="14"
           data-pp-buyerCountry="US"
           data-pp-amount="40.00">
           </div>
           <div class="unice_sezzle">
           or 4 equal payments of
           <b class="b-box"> <span class="price">$10.00</span> USD</b>
           
           with
                 <span class="unice_klarna-logo"><img src="https://x.klarnacdn.net/payment-method/assets/badges/generic/klarna.svg?width=100" align="middle"></span><span class="unice_klarna-tip">?</span>
           
           </div>
           <div class="unice_sezzle" style="display: block;width: 260px;">
             or
           <span class="unice_sezzle-logo"><img src="https://www.unice.com/skin/frontend/longqi/pc/images/sezzle.png" alt="sezzle"/></span><span class="unice_sezzle-tip">?</span>
           or
           <span class="unice_quadpay-logo"><img src="https://www.unice.com/skin/frontend/longqi/pc/images/catalog-product/quadpay_log.png" alt="quadpay_log" /></span><span class="unice_quadpay-tip">?</span>
           </div>
           <div class="window-cover"></div>
           <div class="window-cover_con unice_sezzle-img" id="unice_sezzle-img">
           <img src="https://www.unice.com/skin/frontend/longqi/pc/images/catalog-product/pc-sezzle-tip2.jpg" alt="PC-sezzle-tip1"/>
           <div class="window-cover_con-close"></div>
           </div>
           <div class="window-cover_con unice_quadpay-img" id="unice_quadpay-img">
           <img src="https://www.unice.com/skin/frontend/longqi/pc/images/catalog-product/quadpay_tip.png" alt="quadpay_tip"/>
           <div class="window-cover_con-close"></div>
           </div>
           <div class="window-cover_con unice_klarna-img" id="unice_klarna-img">
           <img src="https://www.unice.com/skin/frontend/longqi/pc/images/catalog-product/pc-klarna-tip.jpg" alt="quadpay_tip"/>
           <div class="window-cover_con-close"></div>
           </div> -->
        <div class="product-detail_qty clearfix">
           <span class="product-detail_qty-label">Q t y :</span>
           <div class="product-detail_qty-input clearfix">
              <button class="product-detail_qty-reduce iconfont" type="button" style="font-size: 28px;height: 44px;">-</button>
              <label for="product-detail_qty-num" style="display:none;">1</label>
              <input class="product-detail_qty-num" type="number" id="product-detail_qty-num" name="qty" value="1" defaultvalue="1" maxlength="4" />
              <button class="product-detail_qty-add iconfont" type="button" style="font-size:24px;height: 44px;padding-top: 8px;">+</button>
           </div>
           <span> ( Sold: <span class="mainC"> 150662 </span> ) </span>
        </div>
        <!--app专属价格 -->
        <!--end app专属价格 -->
        <div class="clearfix product-detail_btn-box">
           <p class="product-detail_preSale">Ship in 7 Business Days after payment</p>
           <button class="product-detail_addcart product-detail_btn iconfont icon-cart2" type="button" title="">add to cart</button>
           <button class="product-detail_buynow product-detail_btn" type="button" title="">buy now</button>
           <a class="product-detail_paypal product-detail_btn" href="https://www.unice.com/paypal/express/start/button/1/instruction/1/free/1" title="Checkout with PayPal Paypal Credit">
           <img src="https://www.unice.com/skin/frontend/longqi/pc/images/catalog-product/paypal.png" alt="Checkout with PayPal Paypal Credit" />
           </a>
           <a class="product-detail_visa product-detail_btn" href="https://www.unice.com/paypal/express/start/button/1/instruction/0/free/1" title="Checkout with PayPal">
           <img src="https://www.unice.com/skin/frontend/longqi/pc/images/catalog-product/detail-card.jpg" alt="Checkout with PayPal" />
           </a>
        </div>
  </form>
  <div class="product-detail_pink">
  <!--               <div class="product-detail_delivery">
     <p class="product-detail_delivery-row">
             <span class="a-bold">
                 Ship to:
             </span>
         <i class="iconfont icon-weizhi"></i>
         756 Wall Street, NYC, US
     </p>
     <p class="product-detail_delivery-row">
                 <span class="a-bold">
                     Store:
                 </span>
         <i class="iconfont icon-store"></i>
         Brooklyn Store is 4.2km away
         <a class="a-line" href="" title="">
             Make an appointment
         </a>
     </p>
     </div>-->
  <div class="product-detail_service">
  <div class="product-detail_service-title">Our Service <span class="product-detail_service-btn iconfont icon-xiangxia float-r"></span></div>
  <div class="product-detail_service-con clearfix" style="display: block;">
  <div class="product-detail_service-item iconfont icon-FASTSHIPPING_pxxian">
  <p class="product-detail_service-link">Free Shipping</p>
  </div>
  <div class="product-detail_service-item iconfont icon-iconmoban-">
  <p class="product-detail_service-link">30 Days Free Returns</p>
  </div>
  <div class="product-detail_service-item iconfont icon-zhuanyerenzheng-copy">
  <p class="product-detail_service-link">Secure Payment</p>
  </div>
  <p class="product-detail_service-discount"><em class="iconfont icon-duihao mainliangC"></em> <span class="mainliangC">Free Gift---</span> Free Gift With Every Order Worth <strong>$50</strong>.</p>
  <p class="product-detail_service-discount"><em class="iconfont icon-duihao mainliangC"></em> <span class="mainliangC">Free Same Day Delivery---</span> For&nbsp;California In Stock Orders.</p>
  <p class="product-detail_service-discount"><em class="iconfont icon-duihao mainliangC"></em> <span class="mainliangC">Fast Turnaround Time---</span> All Orders Processed Within- <strong>72</strong> Hours.</p>
  <p class="product-detail_service-discount"><em class="iconfont icon-duihao mainliangC"></em> <span class="mainliangC">USA Warehouse Shipping---</span> Express: <strong>1-3 Days</strong>; Free: <strong>3-10 Days.</strong></p>
  </div>
  </div>
  </div>
  </div>