<%- include('./components/home/banner-carousel')  %>

<%- include('./components/home/topSale') %> 

<div class="adwrap flex-row">
  <div class="adwrap-item_video">
    <iframe
      class="lozad"
      frameborder="0"
      height="100%"
      width="100%"
      data-src="https://www.youtube.com/embed/IMafrxx7ul4?enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer&amp;loop=1&amp;&amp;playlist=IMafrxx7ul4&amp;modestbranding=1&amp;playsinline=1&amp;rel=0&amp;controls=1&amp;showinfo=0"
    ></iframe>
  </div>
  <div class="adwrap-item_content">
    <div class="adwrap-item_left">
      <a
        class="adwrap-item_link adwrap-item_link--top"
        title="Member Index"
        href="/member/plus/index/"
      >
        <img class="img" src="images/PC-VIP.jpg" alt="member index" />
      </a>
      <a
        class="adwrap-item_link"
        title="new arrive"
        href="/new-arrive.html"
      >
        <img class="img" src="images/homeAds-02.png" alt="new arrive" />
      </a>
    </div>
    <div class="adwrap-item_middle">
      <a
        class="
          adwrap-item_link adwrap-item--middle
          adwrap-item_link--margin
        "
        href="/bargain"
        title="bargain"
      >
        <img class="img" src="images/homeAds-03.png" alt="bargain" />
      </a>
    </div>

    <div class="adwrap-item_right">
      <a
        class="adwrap-item_link adwrap-item--right adwrap-item--right-top"
        href="/wig-1/5x5-hd-lace-wig.html"
        title="HD lace wigs"
      >
        <img class="img" src="images/pc-hd.png" alt="HD lace wigs" />
      </a>

      <a
        class="
          adwrap-item_link adwrap-item--right adwrap-item--right-bottom
        "
        href="/appproduct"
        title="appproduct"
      >
        <img class="img" src="images/homeAds-06.png" alt="appproduct" />
      </a>
    </div>
  </div>
</div>
<div class="pro-show bettyou clearfix wrapper">
  <div class="pro-show_top">
    <a
      class="pro-show_title img-block"
      href="https://www.unice.com/wig-1.html"
    >
      <img
        alt="UNice Bettyou Series: 100% Human Hair Wigs"
        src="images/BETTYOU.jpg"
      />
    </a>
    <video
      class="pro-show_video lozad"
      controls="controls"
      data-mp4="true"
      poster="https://xcdn.unice.com/media/ads/default/WIGCOVER.jpg"
    >
      <source
        data-src="https://vcdn.unice.com/zhutuvideo/169wigvideo-01.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="pro-show_left">
    <a
      class="pro-show_head bettyou"
      href="https://www.unice.com/wig-1.html"
      title="Be your own stylist, Be Different!"
    >
      <h2>bettyou</h2>
      <span>Be your own stylist, Be Different!</span>
    </a>
    <div class="pro-show_brand">
      Delivers styles without compromise to complete the perfect you.
    </div>
    <div class="pro-show_classification">
      <h4 class="pro-show_classification-tit">main classification</h4>
      <div class="pro-show_classification-list">
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/wig-1/bob-wig.html"
          title="Bob Wig"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/body1.png"
            src="images/lozad-home-icon.jpg"
            alt="Bob Wig"
          />
          <span>Bob Wig</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/wig-1/body-wave-wigs.html"
          title="Body Wave"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/body2.png"
            src="images/lozad-home-icon.jpg"
            alt="Body Wave"
          />
          <span>Body Wave</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/wig-1/curly-hair-wigs.html"
          title="Curly Hair"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/curly.png"
            src="images/lozad-home-icon.jpg"
            alt="Curly Hair"
          />
          <span>Curly Hair</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/wig-1/kinky-hair-wig.html"
          title="kinky Curly"
        >
          <img class="lozad"
          data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/kinky.png"
          src="images/lozad-home-icon.jpg" alt="kinky Curly" ">
          <span>kinky Curly</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/wig-1/water-wave-hair-wigs.html"
          title="Water Wave"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/kinky.png"
            src="images/lozad-home-icon.jpg"
            alt="Water Wave"
          />
          <span>Water Wave</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/wig-1/straight-hair-wigs.html"
          title="Straight Hair"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/straight.png"
            src="images/lozad-home-icon.jpg"
            alt="Straight Hair"
          />
          <span>Straight Hair</span>
        </a>
      </div>
    </div>
  </div>
  <div class="pro-show_right clearfix">
    <% products.forEach((product) => { %>
      <%- include('./components/home/product', { product }) %>
    <% }) %>
  </div>
</div>

<div class="pro-show icenu clearfix wrapper">
  <div class="pro-show_top">
    <a
      class="pro-show_title img-block"
      href="https://www.unice.com/icenu-hair.html"
    >
      <img alt="Icenu Hair" src="images/ICENU.jpg" />
    </a>
    <video
      class="pro-show_video lozad"
      controls="controls"
      data-mp4="true"
      poster="https://xcdn.unice.com/media/ads/default/videocover.jpg"
    >
      <source
        data-src="https://vcdn.unice.com/zhutuvideo/169weftvideo-01.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="pro-show_left">
    <a
      class="pro-show_head icenu"
      href="https://www.unice.com/icenu-hair.html"
      title="Be your own stylist, Be Different!"
    >
      <h2>Icenu</h2>
      <span>Be your own stylist, Be Different!</span>
    </a>
    <div class="pro-show_brand">
      Don’t settle for ordinary, be extraordinary fashionable
    </div>
    <div class="pro-show_classification">
      <h4 class="pro-show_classification-tit">main classification</h4>
      <div class="pro-show_classification-list">
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/icenu-hair/body-wave.html"
          title="Body wave"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/icenu-sort1.png"
            src="images/lozad-home-icon.jpg"
            alt="Body wave"
          />
          <span>Body wave</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/icenu-hair/straight-hair.html"
          title="straight hair"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/icenu-sort2.png"
            src="images/lozad-home-icon.jpg"
            alt="straight hair"
          />
          <span>straight hair</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/icenu-hair/curly-hair.html"
          title="Curly Hair"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/icenu-sort3.png"
            src="images/lozad-home-icon.jpg"
            alt="Curly Hair"
          />
          <span>Curly Hair</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/icenu-hair/deep-wave.html"
          title="Deep wave"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/icenu-sort4.png"
            src="images/lozad-home-icon.jpg"
            alt="Deep wave"
          />
          <span>Deep wave</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/icenu-hair/loose-wave.html"
          title="Loose wave"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/icenu-sort5.png"
            src="images/lozad-home-icon.jpg"
            alt="Loose wave"
          />
          <span>Loose wave</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/icenu-hair/natural-wave.html"
          title="Natural wave"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/icenu-sort6.png"
            src="images/lozad-home-icon.jpg"
            alt="Natural wave"
          />
          <span>Natural wave</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/icenu-hair/natural-wave.html"
          title="Water wave"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/icenu-sort7.png"
            src="images/lozad-home-icon.jpg"
            alt="Water wave"
          />
          <span>Water wave</span>
        </a>
      </div>
    </div>
  </div>
  <div class="pro-show_right clearfix">
    <% products.forEach((product) => { %>
      <%- include('./components/home/product', { product }) %>
    <% }) %>
  </div>
</div>

<div class="pro-show kysiss clearfix wrapper">
  <div class="pro-show_top">
    <a
      class="pro-show_title img-block"
      href="https://www.unice.com/kysiss-hair.html"
      title="You deserve to evolve for more."
    >
      <img
        alt="UNice Banicoo Series: 10A Remy Virgin Hair"
        src="images/pc-new.jpg"
      />
    </a>
  </div>
  <div class="pro-show_left">
    <a
      class="pro-show_head kysiss"
      href="https://www.unice.com/kysiss-hair.html"
      title="Discover Something New"
    >
      <h2>New arrivals</h2>
      <span>Discover Something New</span>
    </a>
    <div class="pro-show_brand">Fabulous With New Chic Hair</div>
    <div class="pro-show_classification">
      <h4 class="pro-show_classification-tit">main classification</h4>
      <div class="pro-show_classification-list">
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/new-arrive.html?___store=default&texture_wig=540"
          title="Jerry curly"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/1-jc.jpg"
            src="images/lozad-home-icon.jpg"
            alt="Jerry curly"
          />
          <span>Jerry curly</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/new-arrive.html?___store=default&texture_wig=538"
          title="straight hair"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/2-body-wave.jpg"
            src="images/lozad-home-icon.jpg"
            alt="body wave"
          />
          <span>body wave</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/new-arrive.html?___store=default&texture_wig=752"
          title="bob wigs"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/3-bob.jpg"
            src="images/lozad-home-icon.jpg"
            alt="bob wigs"
          />
          <span>bob wigs</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com//new-arrive.html?___store=default&texture_wig=644"
          title="Deep wave"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/4-deepwave.jpg"
            src="images/lozad-home-icon.jpg"
            alt="Deep wave"
          />
          <span>Deep wave</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/new-arrive.html?___store=default&texture_wig=643"
          title="water wave"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/5-water.jpg"
            src="images/lozad-home-icon.jpg"
            alt="water wave"
          />
          <span>water wave</span>
        </a>
        <a
          class="pro-show_classification-item"
          href="https://www.unice.com/new-arrive.html?___store=default&texture_wig=753"
          title="Natural wave"
        >
          <img
            class="lozad"
            data-src="https://www.unice.com/skin/frontend/longqi/pc/images/home/6-natural.jpg"
            src="images/lozad-home-icon.jpg"
            alt="Natural wave"
          />
          <span>Natural wave</span>
        </a>
      </div>
    </div>
  </div>
  <div class="pro-show_right clearfix">
    <% products.forEach((product) => { %>
      <%- include('./components/home/product', { product }) %>
    <% }) %>
  </div>
</div>
<div class="customer-share clearfix">
  <div class="customer-share_title">
    <h3>customer share</h3>
    <span>beautiful messenger</span>
  </div>
  <div
    class="customer-share_item img-block"
    comment="14"
    like="426"
    shortCode="18120131344224921"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/18120131344224921.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">426</span>
      <span id="comment" class="float-r">14</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="5"
    like="371"
    shortCode="17870707406468926"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/17870707406468926.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">371</span>
      <span id="comment" class="float-r">5</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="10"
    like="526"
    shortCode="17912715547856871"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/17912715547856871.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">526</span>
      <span id="comment" class="float-r">10</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="15"
    like="317"
    shortCode="18079203757281195"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/18079203757281195.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">317</span>
      <span id="comment" class="float-r">15</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="11"
    like="517"
    shortCode="17895964712128332"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/17895964712128332.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">517</span>
      <span id="comment" class="float-r">11</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="10"
    like="546"
    shortCode="17898539762101561"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/17898539762101561.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">546</span>
      <span id="comment" class="float-r">10</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="26"
    like="509"
    shortCode="17903386777988557"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/17903386777988557.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">509</span>
      <span id="comment" class="float-r">26</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="4"
    like="821"
    shortCode="17909742979894619"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/17909742979894619.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">821</span>
      <span id="comment" class="float-r">4</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="8"
    like="203"
    shortCode="17849343869597864"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/17849343869597864.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">203</span>
      <span id="comment" class="float-r">8</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="27"
    like="745"
    shortCode="17875031066434130"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/17875031066434130.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">745</span>
      <span id="comment" class="float-r">27</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="20"
    like="775"
    shortCode="17919870211661783"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/17919870211661783.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">775</span>
      <span id="comment" class="float-r">20</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div
    class="customer-share_item img-block"
    comment="14"
    like="380"
    shortCode="17892647960141705"
  >
    <img
      class="lozad customer-share_item-img"
      src="images/customer-share.jpg"
      data-src="https://xcdn.unice.com/media/ins_video_img/17892647960141705.jpg"
      alt
    />
    <div class="customer-share_item-overlay clearfix">
      <span class="iconfont icon-heart2"></span>
      <span id="like">380</span>
      <span id="comment" class="float-r">14</span>
      <span class="iconfont icon-message float-r"></span>
    </div>
  </div>
  <div id="myModal" class="modal">
    <div class="loading-div">
      <img src="images/giphy.gif" alt="loading" />
    </div>
    <span id="closes" class="close cursor" onclick="closeModal()"></span>
    <div class="modal-content">
      <div class="mySlides"></div>
      <a
        class="prev"
        onclick="plusSlides(-1,'11');"
        style="text-decoration: none"
      ></a>
      <a
        class="next"
        onclick="plusSlides(1,'11');"
        style="text-decoration: none"
      ></a>
    </div>
  </div>
  <input type="hidden" id="instagram_img_current" value />
  <input type="hidden" id="instagram_img_last" value="0" />
</div>
<div class="newsletter">
  <div class="newsletter-title">newsletter</div>
  <p class="newsletter-des">SUBSCRIBE TO GET THE LATEST PROMOTION INFO</p>
  <form
    id="home-newsletter-form"
    class="newsletter-form"
    action
    method="post"
  >
    <input
      name="form_key"
      type="hidden"
      value="<esi:include src='http://www.unice.com/turpentine/esi/getFormKey/ttl/5184000/method/esi/scope/global/access/private/' />"
    />
    <i class="newsletter-form_icon spirit-bg"></i>
    <label for="newsletter-form_input" style="display: none">1</label>
    <input
      type="text"
      name="email"
      class="newsletter-form_input"
      id="newsletter-form_input"
      placeholder="Your E-mail..."
    />
    <button class="newsletter-form_submit" title type="button">
      submit
    </button>
  </form>
</div>