<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% if (typeof stylePath !== 'undefined') { %>
      <link rel="stylesheet" href="<%= stylePath %>"/>
    <% } else { %>
      <link rel="stylesheet" href="/style.css"/>
    <% } %>
    <link rel="stylesheet" type="text/css" href="/vendors/slick/slick.css"/>
    <title>Unice</title>
  </head>
  <body class="cms-index-index cms-coolbaby-home">
    <%- include('./components/sidebar'); -%>
    <%- include('./components/header/index'); -%>
    <div class="main"><%- body %></div>
    <%- include('./components/footer/index'); -%>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/vendors/slick/slick.min.js"></script>
    <script type="module" src="/main.js"></script>
  </body>
</html>