<li class="swiper-slide">
  <div class="topsale-item">
    <div class="prolist_item-img img-block">
      <a
        href="/product/<%= product.id %>"
        title="UNice Hair Pre Plucked Virgin Hair Body Wave HD Lace Closure Wigs Amazing Lace Melted Match All Skin Color Bettyou Series"
        class="img-block preview-item"
      >
        <img
          class="lozad"
          data-src="<%= product.image %>"
          src="<%= product.image %>"
          alt="<%= product.name %>"
        />
        <div class="prolist_item-img--active">
          <img
            class="lozad"
            src="<%= product.image %>"
            data-src="<%= product.image %>"
            alt="UNice Hair Pre Plucked Virgin Hair Body Wave HD Lace Closure Wigs Amazing Lace Melted Match All Skin Color Bettyou Series"
          />
        </div>
      </a>
    </div>

    <div class="prolist_ratings-box">
      <div class="rating-star iconfont icon-star">
        <div
          class="rating-starNum iconfont icon-star"
          style="width: 95%"
        ></div>
      </div>
      <a
        href="https://www.unice.com/unice-hair-pre-plucked-virgin-hair-body-wave-hd-lace-closure-wigs-amazing-lace-melted-match-all-skin-color-bettyou-series.html"
        class="prolist_rating-reviews a-hover"
        >632 Review(s)</a
      >
    </div>

    <div class="price-box">
      <span class="price-box_price">
        <span class="price">$<%= product.price %></span>
      </span>
      <span class="price-box_unit"> / 1pc </span>
    </div>

    <a
      class="topsale-item_buy"
      href="https://www.unice.com/unice-hair-pre-plucked-virgin-hair-body-wave-hd-lace-closure-wigs-amazing-lace-melted-match-all-skin-color-bettyou-series.html"
      target="_blank"
      title="UNice Hair Pre Plucked Virgin Hair Body Wave HD Lace Closure Wigs Amazing Lace Melted Match All Skin Color Bettyou Series"
    >
      buy <i class="iconfont icon-pagination-next"></i>
    </a>
    <div class="topsale-item_hover clearfix">
      <a
        class="topsale-item_title a-hover"
        href="/product/<%= product.id %>"
        title="UNice Hair Pre Plucked Virgin Hair Body Wave HD Lace Closure Wigs Amazing Lace Melted Match All Skin Color Bettyou Series"
      >
        UNice Hair Pre Plucked Virgin Hair Body Wave HD Lace Closure
        Wigs Amazing Lace Melted Match All Skin Color Bettyou Series
      </a>
      <div class="topsale-item_catalog">
        <span class="topsale-item_catalog-num"></span>
      </div>
      <a
        class="topsale-item_cart iconfont icon-cart2"
        href="/product/<%= product.id %>"
        title="Add to cart"
      >
      </a>
    </div>
  </div>
</li>