<div class="pro-show_item" data-id="2722" data-category="92">
  <div class="prolist_item-img img-block">
    <a
      href="/product/<%= product.id %>"
      title="UNice Hair Pre Plucked Virgin Hair Body Wave HD Lace Closure Wigs Amazing Lace Melted Match All Skin Color Bettyou Series"
      class="img-block"
    >
      <img
        class="lozad"
        src="<%= product.image %>"
        alt="<%= product.name %>"
      />
      <div class="prolist_item-img--active">
        <img
          class="lozad"
          src="<%= product.image %>"
          alt="<%= product.name %>"
        />
      </div>
    </a>
  </div>

  <a
    class="pro-show_item-title"
    href="https://www.unice.com/unice-hair-pre-plucked-virgin-hair-body-wave-hd-lace-closure-wigs-amazing-lace-melted-match-all-skin-color-bettyou-series.html"
    title="UNice Hair Pre Plucked Virgin Hair Body Wave HD Lace Closure Wigs Amazing Lace Melted Match All Skin Color Bettyou Series"
  >
    <%= product.name %>
  </a>

  <div class="prolist_ratings-box">
    <div class="rating-star iconfont icon-star">
      <div
        class="rating-starNum iconfont icon-star"
        style="width: 95%"
      ></div>
    </div>
    <a
      href="https://www.unice.com/unice-hair-pre-plucked-virgin-hair-body-wave-hd-lace-closure-wigs-amazing-lace-melted-match-all-skin-color-bettyou-series.html"
      class="prolist_rating-reviews a-hover"
      >632 Review(s)</a
    >
  </div>

  <div class="price-box">
    <span class="price-box_price" id="product-price-2722">
      <span class="price">$<%= product.price %></span>
    </span>
    <span class="price-box_unit"> / 1pc </span>
  </div>
</div>